<template>
  <div id="app">
    <header class="header">
      <router-link to="/" class="logo">Bus.</router-link>
      <div class="nav-group">
        <router-link
          v-if="isLoggedIn"
          :to="favoriteUrl"
          class="nav-item">
          Favorites
        </router-link>
        <span v-if="isLoggedIn" class="nav-item clickable" @click="logout">
          Log out
        </span>
        <router-link v-else :to="loginUrl" class="nav-item clickable">
          Log in
        </router-link>
      </div>
    </header>
    <div class="body">
      <transition name="fade" mode="out-in">
      <router-view/>
      </transition>
    </div>
    <footer class="footer">
      Copyright © ChenEJ 2020
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      favoriteUrl: '/favorites',
      loginUrl: '/login'
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('logout')
      if (this.$route.path !== '/') {
        this.$router.push('/')
      }
    }
  },
  mounted () {
    if (this.isLoggedIn) {
      this.$store.dispatch('getUserInfo')
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.state.user !== null
    }
  }
};
</script>

<style lang="sass">
@import "./styles/layouts/main"
</style>
