@import "variables"

html
  background: $color-background
  color: $color-text-primary
  font-family: 'Noto Sans TC', 'Josefin Sans', 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif

.material-icons
  @extend %material-icons

a
  text-decoration: none

input
  background: transparent
  border: 0
  color: inherit
  font-family: 'Noto Sans TC', 'Josefin Sans', 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif
  outline: 0
  width: 100%

ul
  list-style-type: none
  margin: 0
  padding: 0

select,
textarea,
input
  +on-mobile
    font-size: 16px !important // to prevent auto zoom-in on safari

button
  background: transparent
  border: 0
  cursor: pointer

  &:focus
    outline: none

.clickable
  cursor: pointer