@import "../import/import"

::v-deep
  // Layout
  // -------------------------------
  .form-control
    margin: 0 auto 1em
    text-align: left
    width: 100%

  .input-container
    +size(100%, 2.25em)
    background: $color-white
    border-radius: 2.5em
    overflow: hidden
    position: relative

  .input-content
    height: 100%
    font-size: .9em
    padding: .5em 1.25em

    &::placeholder
      color: lighten($color-text-secondary, 10%)

  .input-content.is-error
    border-bottom: 2px solid $color-error

  .control-error
    color: $color-error
    padding-left: 1em

  // Links
  // --------------------------
  .link-default
    +hover
      &::after
        transform: scaleX(1)
    color: $color-pink
    font-size: .75em
    letter-spacing: .05em
    position: relative

    &::before,
    &::after
      +size(100%, 2px)
      +position(absolute, null null -4px 0)
      background: $color-pink
      content: ''

    &::before
      opacity: .3

    &::after
      opacity: .75
      transform: scaleX(0)
      transition: .2s
