@import "../import/import"

// Layout
// -------------------------------
.search-result
  height: 100%

.result-list
  +on-tablet
    width: 100%
  +size(100%)
  -ms-overflow-style: none
  -webkit-overflow-scrolling: touch
  overflow-y: scroll

  &::-webkit-scrollbar
    display: none

.result-route-item
  align-items: center
  display: flex
  cursor: pointer
  justify-content: space-between
  padding: 0

  .bus-route
    color: inherit
    display: block
    font-size: 16px
    padding: .5em 1em

  .material-icons
    +hover
      color: $color-pink
    color: $color-grey
    font-size: 1.2em
    padding: 0 .5em
    transition: color .2s

    &.is-favorite
      color: $color-pink

.default-content
  color: lighten($color-text-secondary, 10%)
  font-size: .95em
  padding-top: 1em
  text-align: center

  .material-icons
    display: block
    font-size: 2em
    margin-bottom: .2em