<template>
  <Layout
    :origin="displayOriginDes.origin"
    :destination="displayOriginDes.destination"
    :isLoadingSearch="isLoadingStatus">
    <i class="material-icons btn-switch-route"
      slot="switch-icon"
      v-if="routeInfo.directionList.length > 1"
      @click="switchDirection">autorenew</i>
    <ul class="detail-container" slot="content">
      <li class="detail-bus-item"
        v-for="(busStop, index) in displayStopList"
        :key="index">
        <div class="stop-name">{{busStop.StopName.Zh_tw}}</div>
        <div class="stop-status"
          :class="getStatusClass(busStop.EstimateTime, busStop.StopStatus)">
          {{isLoadingStatus ? 'loading' : getBusStatus(busStop.EstimateTime, busStop.StopStatus)}}
        </div>
      </li>
    </ul>
  </Layout>
</template>

<script>
import BusHelper from '../busHelper.js'
import Layout from '../components/searchFormLayout'

export default {
  name: 'Detail',
  components: {
    Layout
  },
  data () {
    return {
      routeInfo: {
        origin: '起點',
        destination: '迄點',
        directionList: [],
        direction: 0 // 去回程, default: 0
      },
      error: null,
      isLoadingStatus: false,
      fetched: {
        routeDirectionList: []
      }
    }
  },
  async mounted () {
    this.isLoadingStatus = true
    await this.fetchRouteDirectionList()
    await this.fetchStopInfo()
    await this.fetchStopsGroup()
    this.isLoadingStatus = false

    setInterval(async () => {
      this.isLoadingStatus = true
      await this.fetchStopsGroup()
      this.isLoadingStatus = false
    }, 30000)
  },
  methods: {
    switchDirection () {
      this.routeInfo.direction = this.routeInfo.direction === 0 ? 1 : 0
    },
    getBusStatus (estimatedTime, statusId) {
      // status: '0: 正常', '1: 尚未發車', '2: 交管不停靠', '3: 末班車已過', '4: 今日未營運'
      if (estimatedTime) {
        return estimatedTime <= 60 ? '即將進站' : Math.floor(estimatedTime / 60) + '分鐘'
      } else if (!estimatedTime && statusId === 0) {
        return '進站中';
      } else {
        switch(statusId) {
          case 0:
            return '正常'
          case 1:
            return '尚未發車'
          case 2:
            return '交管不停靠'
          case 3:
            return '末班車已過'
          case 4:
            return '今日未營運'
          default:
            return '無資料'
        }
      }
    },
    getStatusClass (estimateTime, statusId) {
      if (estimateTime) {
        return estimateTime <= 60 ? 'is-pull-in' : 'is-estimated'
      } else if(!estimateTime && statusId === 0) {
        return 'is-coming'
      } else {
        return 'is-not-active'
      }
    },
    async fetchRouteDirectionList () {
      try {
        let data = await BusHelper.getRoute(this.$route.params.id)
        this.fetched.routeDirectionList = data
      } catch (err) {
        this.error = err
      }
    },
    async fetchStopsGroup () {
      try {
        const estimatedList = await BusHelper.getEstimatedTimeList(this.$route.params.id)

        // mapping estimatedTime with routeInfo
        for (let i = 0; i < this.fetched.routeDirectionList.length; i++) {
          let direction = this.fetched.routeDirectionList[i].Direction
          for (let j = 0; j < this.fetched.routeDirectionList[i].Stops.length; j++) {
            let hasStopData = false
            for (let k = 0; k < estimatedList[direction].length; k++) {
              if (this.fetched.routeDirectionList[i].Stops[j].StopID === estimatedList[direction][k].StopID) {
                this.fetched.routeDirectionList[i].Stops[j].StopStatus = estimatedList[direction][k].StopStatus
                this.fetched.routeDirectionList[i].Stops[j].EstimateTime = estimatedList[direction][k].EstimateTime ? estimatedList[direction][k].EstimateTime : null
                hasStopData = true
                break
              }
            }
            if (!hasStopData) {
              this.fetched.routeDirectionList[i].Stops[j].StopStatus = null
              this.fetched.routeDirectionList[i].Stops[j].EstimateTime = null
            }
          }
        }
        this.routeInfo.directionList = this.fetched.routeDirectionList
      } catch (err) {
        this.error = err
      }
    },
    async fetchStopInfo () {
      try {
        let data = await BusHelper.getRouteInfo(this.$route.params.id)
        this.routeInfo = Object.assign({}, this.routeInfo, data)
      } catch (err) {
        this.error = err
      }
    },
  },
  computed: {
    displayStopList () {
      if(this.routeInfo.directionList.length > 0) {
        return this.routeInfo.directionList[this.routeInfo.direction].Stops
      } else {
        return []
      }
    },
    displayOriginDes () {
      return {
        origin: this.routeInfo.direction > 0 ? this.routeInfo.destination : this.routeInfo.origin,
        destination: this.routeInfo.direction > 0 ? this.routeInfo.origin : this.routeInfo.destination
      }
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../styles/import/import"

// Layout
// -------------------------------
.detail-container
  +on-tablet
    width: 100%
  +size(100%)
  -ms-overflow-style: none
  -webkit-overflow-scrolling: touch
  font-size: .95em
  overflow-y: scroll

  &::-webkit-scrollbar
    display: none

.detail-bus-item
  display: flex

.stop-name
  flex-grow: 1

.stop-status
  border-radius: $border-radius
  color: $color-white
  font-size: .85em
  letter-spacing: .05em
  padding: .25em .5em

  &.is-coming
    background: lighten($color-pink, 5%)

  &.is-pull-in
    background: $color-pink

  &.is-estimated
    background: $color-green

  &.is-not-active
    background: $color-text-secondary
</style>
