<template>
  <Layout
    :isLoadingSearch="isLoadingSearch"
    :isShowingOriginDestination="false">
    <div class="favorites-title" slot="header">
      常用路線
    </div>
    <div class="search-result" slot="content">
      <ul class="result-list" v-if="favorites.length > 0">
        <router-link
          tag="li"
          class="detail-bus-item result-route-item"
          v-for="route in favorites"
          :key="route.id"
          :to="'./detail/' + route">
          <span class="bus-route">{{route}}</span>
        </router-link>
      </ul>
      <div class="default-content" v-else>
        <i class="material-icons">sentiment_dissatisfied</i>
        請搜尋路線並加入清單
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from '../components/searchFormLayout'

export default {
  name: 'Favorites',
  components: {
    Layout
  },
  data () {
    return {
      isLoadingSearch: false
    }
  },
  computed:{
    favorites() {
      return this.$store.state.user ? this.$store.state.user.favorites : []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../styles/partials/results"

.favorites-title
  font-size: .85em
</style>
