<template>
  <div class="wrap-container">
    <BusIcon />
    <transition name="fade" mode="out-in">
    <i class="material-icons search-icon"
      v-if="!isOpenSearchBar"
      @click="isOpenSearchBar = true">search</i>
    <InputText
      v-else
      ref="searchInput"
      :value.sync="keyword"
      :placeholder="'請輸入公車路線'"
      @enter="search"
      @blur="isOpenSearchBar = false">
      <i class="material-icons search-btn" @click="search">search</i>
    </InputText>
    </transition>
  </div>
</template>

<script>
import InputText from '../components/formControlInput'
import BusIcon from '../components/busIcon'

export default {
  name: 'Home',
  components: {
    InputText,
    BusIcon
  },
  data() {
    return {
      isOpenSearchBar: false,
      keyword: ''
    }
  },
  watch: {
    isOpenSearchBar(newValue) {
      if(newValue) {
        setTimeout(() => {
          this.$refs.searchInput.$refs.input.focus();
        }, 200); // use setTimeout instead of $nextTick becuase of transition timing is longer than $nextTick
      }
    }
  },
  methods: {
    search() {
      if(this.keyword) {
        this.$router.push({
          path: 'results',
          query: {
            route: this.keyword
          },
        });
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../styles/import/import"
@import "../styles/partials/form-controls"

// Layout
// -------------------------------
.wrap-container
  margin: 0 auto
  max-width: 350px
  text-align: center

.material-icons
  &.search-icon
    +hover
      background: $color-pink
    +size(1.5em)
    background: lighten($color-pink, 10%)
    border-radius: 50%
    color: $color-white
    cursor: pointer
    font-size: 1.9em
    line-height: 1.5em
    text-align: center

.search-bar
  width: 13em

.search-btn
  +hover
    background: $color-pink
  +position(absolute, 0 0 null null)
  +size(40px, 37px)
  background: lighten($color-pink, 10%)
  color: $color-white
  cursor: pointer
  padding-left: 6px
  transition: background .2s

  &.material-icons
    line-height: 1.5
</style>
