<template>
  <div class="wrap-container">
    <div class="login-group">
      <InputText
        :value.sync="form.username"
        :placeholder="'請輸入帳號'"
        :errorMsg="errors.username" />
      <InputText
        :type="'password'"
        :value.sync="form.password"
        :placeholder="'請輸入密碼'"
        :errorMsg="errors.password"
        @enter="login" />
      <Btn label="Login"
        class="btn-login"
        :loading="loading.submit"
        @click.native="login" />
      <router-link to="/register" class="link-default">還沒申請帳號?</router-link>
    </div>
  </div>
</template>

<script>
import InputText from '../components/formControlInput'
import Btn from '../components/btn'

export default {
  components: {
    InputText,
    Btn
  },
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      errors: {
        username: null,
        password: null
      },
      loading: {
        submit: false
      }
    }
  },
  methods: {
    async login() {
      this.loading.submit = true
      this.errors.username = null;
      this.errors.password = null;
      try {
        await this.$store.dispatch('login', { username: this.form.username, password: this.form.password });
        await this.$store.dispatch('getUserInfo')
        this.$router.push('/')
      } catch(err) {
        this.loading.submit = false
        this.errors.username = '帳號或密碼錯誤';
        this.errors.password = '帳號或密碼錯誤';
      }
    },
  }
};
</script>

<style lang="sass" scoped>
@import "../styles/import/import"
@import "../styles/layouts/member"
@import "../styles/partials/form-controls"

// Layout
// -------------------------------
.login-group
  align-items: center
  display: flex
  flex-direction: column

.btn-login
  margin-bottom: .6em
</style>
