<template>
  <div class="wrap-container">
    <div class="register-group">
      <InputText
        :value.sync="form.username"
        :placeholder="'請輸入帳號'"
        :errorMsg="errors.username" />
      <InputText
        :type="'password'"
        :value.sync="form.password"
        :placeholder="'請輸入密碼'"
        :errorMsg="errors.password" />
      <InputText
        :type="'password'"
        :value.sync="form.confirmPassword"
        :placeholder="'請再次輸入密碼'"
        :errorMsg="errors.confirmPassword"
        @enter="register" />
      <Btn label="Sign up"
        class="btn-login"
        :loading="loading.submit"
        @click.native="register" />
      <router-link to="/login" class="link-default">回登入頁面</router-link>

      <Notify v-model="notify.failed" :msg="errors.system" />
      <Notify v-model="notify.success" msg="註冊帳號成功!" type="positive" />
    </div>
  </div>
</template>

<script>
import InputText from '../components/formControlInput'
import Notify from '../components/notify'
import Btn from '../components/btn'

export default {
  components: {
    InputText,
    Notify,
    Btn
  },
  data() {
    return {
      form: {
        username: '',
        password: '',
        confirmPassword: ''
      },
      errors: {
        username: null,
        password: null,
        confirmPassword: null,
        system: null
      },
      notify: {
        success: false,
        failed: false
      },
      loading: {
        submit: false
      }
    }
  },
  methods: {
    async register() {
      this.errors = Object.assign({}, {
        username: null,
        password: null,
        confirmPassword: null,
        system: null
      });

      // check if all input is filled
      let isFilled = true
      for (let i = 0; i < Object.keys(this.form).length; i++) {
        if (!this.form[Object.keys(this.form)[i]]) {
          this.errors[Object.keys(this.form)[i]] = '必填項目'
          isFilled = false
        }
      }

      if (isFilled) {
        if(this.form.password === this.form.confirmPassword) {
          this.loading.submit = true
          try {
            await this.$store.dispatch('register', { username: this.form.username, password: this.form.password })
            this.notify.success = true
            setTimeout(() => {
              this.$router.push('/login')
            }, 1000)
          } catch(err) {
            this.loading.submit = false
            this.notify.failed = true
            this.errors.system = err.message
          }
        } else {
          this.errors.confirmPassword = '必須與密碼一致'
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import "../styles/import/import"
@import "../styles/layouts/member"
@import "../styles/partials/form-controls"

// Layout
// -------------------------------
.register-group
  align-items: center
  display: flex
  flex-direction: column

.btn-login
  margin-bottom: .6em
</style>
