<template>
  <Layout :isLoadingSearch="isLoadingSearch">
    <div class="search-result" slot="content">
      <ul class="result-list" v-if="routeList.length > 0">
        <router-link
          tag="li"
          class="detail-bus-item result-route-item"
          v-for="route in routeList"
          :key="route.id"
          :to="'./detail/' + route">
          <span class="bus-route">{{route}}</span>
          <i class="material-icons"
            :class="{'is-favorite': isFavoriteRoute(route)}"
            @click.stop="toggleFavorite(route)">favorite</i>
        </router-link>
      </ul>
      <div class="default-content" v-else>
        <i class="material-icons">sentiment_dissatisfied</i>
        查無此公車
      </div>
    </div>
  </Layout>
</template>

<script>
import BusHelper from '../busHelper.js'
import Layout from '../components/searchFormLayout'

export default {
  name: 'Result',
  components: {
    Layout
  },
  data () {
    return {
      routeList: [],
      error: null,
      isLoadingSearch: false
    }
  },
  watch: {
    '$route.query.route'() {
      this.getRouteList()
    }
  },
  async mounted() {
    this.isLoadingSearch = true
    await this.getRouteList()
    this.isLoadingSearch = false
  },
  methods: {
    async getRouteList () {
      let route = this.$route.query.route
      try {
        this.routeList = await BusHelper.getRouteList(route)
      } catch(err) {
        this.error = err
      }
    },
    async toggleFavorite (route) {
      if (this.isLoggedIn) {
        try {
          if (this.isFavoriteRoute(route)) {
            await this.$store.dispatch('removeFavorite', route)
          }
          else {
            await this.$store.dispatch('addFavorite', route)
          }
        } catch(err) {
          // handle err
        }
      }
      else {
        this.$router.push('/login')
      }
    },
    isFavoriteRoute(route) {
      for(let i = 0; i < this.favoriteList.length; i++) {
        if(route === this.favoriteList[i]) {
          return true
        }
      }
      return false
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.user !== null
    },
    favoriteList() {
      return (this.isLoggedIn && this.$store.state.user) ? this.$store.state.user.favorites : []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../styles/partials/results"
</style>
