@import "../import/import"

// Variables
// -------------------------------
$color-opacity-white: rgba(255, 255, 255, .4)
$color-bus-body: #F1BF93
$color-fringe: #888188
$color-window-inner: #84CBC2
$color-bus-footer: #E47189
$color-footer-upper: #F1E3A7


// Layout
// -------------------------------
.bus-icon-container
  +on-mobile
      font-size: .9em
      margin: 3em auto
  align-items: center
  background: $color-opacity-white
  border-radius: 50%
  display: flex
  height: 19em
  justify-content: center
  margin: 5em auto
  position: relative
  width: 19em

  &::after
    +position(absolute, 1em null null 1em)
    +size(17em)
    background: $color-white
    border-radius: 50%
    content: ''

.bus-body
  +size(10em, 11em)
  background: $color-bus-body
  border-radius: 5px
  position: relative
  z-index: 100

  &::before,
  &::after
    +size(.75em, 1.75em)
    background: $color-bus-body
    content: ''

  &::before
    +position(absolute, 4em -.75em null null)
    border-radius: 0 .3em .3em 0 

  &::after
    +position(absolute, 4em null null -.75em)
    border-radius: .3em 0 0 .3em

.bus-fringe
  +position(absolute, 1em null null 50%)
  +size(2em, .35em)
  background: $color-fringe
  border-radius: .3em
  transform: translateX(-50%)
  z-index: 10

.window-outer
  +position(absolute, 2.25em null null .75em)
  +size(calc(100% - 1.5em), 4.5em)
  background: $color-white
  border-radius: 3px
  z-index: 10

.window-inner
  +position(absolute, .35em null null .35em)
  +size(calc(100% - .7em))
  background: $color-window-inner

  &::before,
  &::after
    +size(1.5em, 5px)
    background: $color-white
    border-radius: 5px
    content: ''
    transform: rotate(-35deg)
    
  &::before
    +position(absolute, 1.5em null null 30%)
    
  &::after
    +position(absolute, 1.5em null null 50%)
        
.bus-footer
  +position(absolute, null null 0 0)
  +size(100%, 3.25em)
  background: $color-bus-footer
  border-radius: 0 0 5px 5px

.footer-upper
  +position(absolute, 0 null null 0)
  +size(100%, 1.5em)
  background: $color-footer-upper

.footer-front
  +position(absolute, 0 null null 50%)
  +size(2em, 1em)
  background: $color-bus-body
  border-radius: 0 0 3px 3px
  transform: translateX(-50%)

  &::before,
  &::after
    +size(1em, 3px)
    background: $color-fringe
    border-radius: 3px
    content: ''
    transform: translateX(-50%)

  &::before
    +position(absolute, .15em null null 50%)

  &::after
    +position(absolute, .5em null null 50%)

.wheel
  +size(1.25em, 1.25em)
  background: $color-fringe
  border-radius: 0 0 5px 5px

  &.right
    +position(absolute, null .75em -1.25em null)

  &.left
    +position(absolute, null null -1.25em .75em)
