@import "../import/import"

// Variables
// -------------------------------
$color-cube-1: #FFC4D0
$color-cube-2: #EFF3E6
$color-cube-3: #EC9DAD
$color-cube-4: #A9C7B4


// Layout
// -------------------------------
@keyframes cube-animation
  0%
    background: $color-cube-1
  20%
    background: $color-cube-2
  40%
    background: $color-cube-3
  60%
    background: $color-cube-4

.loading-state
  +size(2.5em)
  margin: 2em auto 0
  position: relative

.loading-cube
  +size(calc(50% - .15em))
  animation: cube-animation 2s 30
  transition: background .2s

.cube-1
  +position(absolute, 0 null null 0)
  background: $color-cube-1

.cube-2
  +position(absolute, 0 0 null null)
  animation-delay: .5s
  background: $color-cube-2

.cube-3
  +position(absolute, null 0 0 null)
  animation-delay: 1s
  background: $color-cube-3

.cube-4
  +position(absolute, null null 0 0)
  animation-delay: 1.5s
  background: $color-cube-4
