@import "../import/import"

// Layout
// --------------------------
#app
  +on-mobile
    height: 95vh
  +position(absolute, 0 null null 0)
  background: $color-background
  height: 100vh
  width: 100vw

.header
  align-items: center
  display: flex
  justify-content: space-between
  padding: .5em 1em

  .logo
    +on-mobile
      font-size: 1.85em
      padding: 0
    color: $color-pink
    font-size: 2em
    font-weight: bold
    letter-spacing: .1em
    padding: .1em .5em

.body
  +on-desktop
    padding: 2em 1em
  +on-mobile
    height: calc(100% - 6em)
    padding-top: 0
  padding: .5em 1em

.footer
  bottom: 0
  color: rgba($color-pink, .5)
  font-size: 11px
  letter-spacing: 2px
  padding: 20px
  position: fixed
  text-align: center
  width: 100%

// nav
// ------------------------
.nav-item
  +hover
    opacity: .85
  color: $color-pink
  font-size: .95em
  font-weight: bold
  letter-spacing: .05em
  opacity: .6
  margin: 0 1em
  transition: opacity .1s
