<template>
  <button class="btn-primary" :class="{'disabled': loading}">
    {{label}}<span v-if="loading" class="loading-circle" />
  </button>
</template>

<script>
export default {
  props: {
    loading: Boolean,
    label: String
  }
}
</script>

<style lang="sass" scoped>
@import "../styles/import/import"

@keyframes loading
  0%
    transform: rotate(0)

  100%
    transform: rotate(360deg)

.btn-primary
  +hover
    background: $color-green
  background: lighten($color-green, 7.5%)
  border-radius: 5em
  color: $color-white
  font-size: .95em
  letter-spacing: .1em
  min-height: 36px
  overflow: hidden
  padding: .35em .7em
  position: relative
  transition: background .2s
  width: 100%

  &.disabled
    pointer-events: none
  
    &::after
      background: rgba(white, .25)
      content: ''
      left: 0
      height: 100%
      position: absolute
      top: 0
      width: 100%

.loading-circle
  animation: loading .75s linear 20 
  border: 2px solid white
  border-radius: 50%
  border-right-color: transparent
  display: inline-block
  height: 13px
  margin-left: 10px
  vertical-align: middle
  width: 13px
</style>