<template>
  <div class="bus-icon-container">
    <div class="bus-body">
      <div class="bus-fringe" />
      <div class="window-outer">
        <div class="window-inner" />
      </div>
      <div class="bus-footer">
        <div class="footer-upper" />
        <div class="footer-front" />
      </div>
      <div class="wheels">
        <div class="wheel right" />
        <div class="wheel left" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Main'
};
</script>

<style lang="sass" scoped>
@import "../styles/components/bus-icon.sass"
</style>
