<template>
  <label class="form-control" :class="wrapClass">
    <div class="input-container">
      <input class="input-content"
        v-model="innerValue"
        ref="input"
        :type="type"
        :placeholder="placeholder"
        :class="{'is-error': Boolean(errorMsg)}"
        @keydown.enter="$emit('enter', innerValue)"
        @input="$emit('input', innerValue)"
        @blur="$emit('blur')">
        <slot />
    </div>
    <small class="control-error" v-if="Boolean(errorMsg)">{{errorMsg}}</small>
  </label>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },
    value: String,
    placeholder: {
      type: String,
      default: ''
    },
    wrapClass: String,
    errorMsg: String
  },
  data() {
    return {
      innerValue: this.value
    }
  },
  watch: {
    innerValue(newValue) {
      if(newValue !== this.value) {
        this.$emit('update:value', newValue);
      }
    }
  }
}
</script>
