<template>
  <transition name="fade">
    <div class="notify" v-if="isOpen" :class="type === 'negative' ? 'negative' : 'positive'">
      <i class="material-icons btn-close" @click="isOpen = false">clear</i>
      <div class="content">{{msg}}</div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    msg: String,
    type: {
      type: String,
      default: 'negative' // 'negative', 'positive'
    },
    duration: {
      type: Number,
      default: 2000
    }
  },
  data () {
    return {
      isOpen: this.value
    }
  },
  watch: {
    value (newVal) {
      this.isOpen = newVal
    },
    isOpen (newVal) {
      if (newVal) {
        setTimeout(() => {
          this.isOpen = false
        }, this.duration)
      }

      if(this.value !== newVal) {
        this.$emit('update:value', newVal)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import "../styles/import/import"

.notify
  +position(fixed, null null 1em)
  border-radius: $border-radius
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .1)
  color: $color-white
  font-size: .9em
  max-width: 500px
  padding: 1em 2em .75em 1em
  text-align: left
  z-index: 100

  .btn-close
    +position(absolute,.4em .6em null null)
    cursor: pointer
    font-size: 1.1em

  &.negative
    background: $color-error

  &.positive
    background: $color-green
</style>
