<template>
  <div class="wrapper">
    <div class="upper-part" ref="upperPart">
      <div class="bus-number-container">
        <!-- Header -->
        <slot name="header">
          <div class="bus-number-display"
            v-if="!options.isSearchFromEditMode"
            @click="toggleInput('open')">
            <span v-if="searchParams.route">{{searchParams.route}}</span>
            <span class="no-bus-number" v-else>輸入路線</span>
            <i class="material-icons btn-edit-number">edit</i>
          </div>
          <div class="bus-number-edit"
            v-show="options.isSearchFromEditMode"
            @mouseenter="options.isLeavingInput = false"
            @mouseleave="options.isLeavingInput = true">
            <input type="text"
              ref="inputBusNumber"
              class="input-bus-number"
              v-model="searchParams.route"
              @blur="handleBlur"
              @keydown.enter="search" />
            <i class="material-icons btn-search" @click.stop="search">search</i>
          </div>
        </slot>
      </div>
      <div class="bus-route" v-if="isShowingOriginDestination">
        <span class="route-content">
          {{origin}}
          <span class="route-seperater" />
          {{destination}}
        </span>
        <slot name="switch-icon" />
      </div>
    </div>
    <div class="down-part" :style="{height: options.downPartHeight}">
      <transition name="fade" mode="out-in">
        <div key="loadingState" v-if="isLoadingSearch">
          <LoadingState />
        </div>
        <div key="result" class="result-content" v-else>
          <slot name="content">
            <div class="default-content">
              <i class="material-icons">directions_bus</i>
              請輸入欲查詢的路線
            </div>
          </slot>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import LoadingState from './loadingState'

export default {
  name: 'searchFormLayout',
  components: {
    LoadingState
  },
  props: {
    origin: {
      type: String,
      default: '起點'
    },
    destination: {
      type: String,
      default: '迄點'
    },
    isLoadingSearch: {
      type: Boolean,
      default: false
    },
    isShowingOriginDestination: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      options: {
        isSearchFromEditMode: false,
        isLeavingInput: false,
        downPartHeight: 'auto'
      },
      searchParams: {
        route: this.$route.query.route || this.$route.params.id
      },
      busNumberResponse: null
    }
  },
  mounted() {
    this.setDownPartHeight();
  },
  created() {
    window.addEventListener('resize', this.setDownPartHeight);
  },
  destroyed() {
    window.removeEventListener('resize', this.setDownPartHeight);
  },
  methods: {
    // handle ui
    toggleInput(mode) {
      if(mode === 'open') {
        this.options.isSearchFromEditMode = true;
        this.$nextTick(() => {
          this.$refs.inputBusNumber.focus();
        });
      }
      else if(mode === 'close'){
        this.$refs.inputBusNumber.blur();
        this.options.isSearchFromEditMode = false;
      }
      else {
        this.options.isSearchFromEditMode = !this.options.isSearchFromEditMode;
      }
    },
    handleBlur() {
      if(this.options.isLeavingInput) {
        this.toggleInput('close');
      }
    },
    setDownPartHeight() {
      this.options.downPartHeight = 'calc(100% - ' + this.$refs.upperPart.offsetHeight + 'px)';
    },
    // handle data
    search() {
      if(this.searchParams.route !== this.$route.query.route) {
        this.$router.push({
          path: '/results',
          query: {
            route: this.searchParams.route
          }
        })
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../styles/import/import"

// Layout
// -------------------------------
$content-padding: 2em
$content-padding-mobile: 1.5em
$color-bus-item-bg: #eff3e6

.wrapper
  +on-mobile
    height: 100%
  background: $color-white
  border-radius: $border-radius
  box-shadow: 3px 3px 8px $color-shadow
  display: flex
  flex-direction: column
  height: 40em
  max-width: 28em
  margin: 0 auto
  overflow: hidden
  position: relative

  &::before,
  &::after
    +position(absolute, null null null 0)
    +size(100%, 5px)
    content: ''

  &::before
    background: $color-green
    top: 0

  &::after
    background: $color-light-pink
    top: 5px

.upper-part
  +on-mobile
    padding: $content-padding-mobile
  border-bottom: 4px dashed $color-wheat
  padding: $content-padding
  position: relative

  &::before
    +on-mobile
      font-size: 4em
    +position(absolute, 50% .2em null null)
    +size(1.25em)
    border: .05em solid
    border-radius: 50%
    content: 'airport_shuttle'
    font-family: 'Material Icons'
    font-size: 4.5em
    line-height: 1.25em
    opacity: .1
    text-align: center
    transform: translateY(-50%) rotate(-15deg)

.down-part
  overflow: -moz-hidden-unscrollable
  height: 100%
  padding: 1em 1.5em


// searchForm
// -------------------
.bus-number-container
  +on-mobile
    font-size: 2.25em
  color: $color-pink
  font-size: 2.5em
  height: 1.35em // set height to fix container size
  margin-bottom: .1em
  position: relative
  z-index: $z-index-1-bus-number-container

  .material-icons
    cursor: pointer
    font-size: .75em

.bus-number-display
  +hover
    .no-bus-number,
    .btn-edit-number
      opacity: 1
  cursor: pointer
  display: inline-block

.no-bus-number
  display: inline-block
  font-size: .5em
  opacity: .5
  transform: translateY(-.4em)
  transition: opacity .2s

.btn-edit-number
  opacity: .5
  transition: opacity .2s

.bus-number-edit
  align-items: center
  display: flex

.input-bus-number
  border-bottom: $border-width solid lighten($color-pink, 25%)
  font-size: .6em
  max-width: 8em
  padding: .1em 0

.route-content
  +on-mobile
    font-size: .85em
  display: inline-block
  margin-right: .5em

.bus-route
  font-size: 1.15em

.route-seperater
  +size(2.25em, 2px)
  background: $color-text-secondary
  display: inline-block
  margin: 0 .75em
  vertical-align: middle

.btn-switch-route
  +hover
    transform: rotate(90deg)
  color: $color-green
  cursor: pointer
  font-size: 1.15em
  transition: transform .2s
  vertical-align: sub

// Down part
// -------------------
::v-deep
  .result-content
    height: 100%
    overflow: hidden

  .detail-bus-item
    padding: .5em 1em

    &:nth-child(odd)
      background: $color-bus-item-bg

    &:not(:last-child)
      margin-bottom: .5em
</style>
